/******************************************************
 * I copied these styles from markdotto.com, who is
 * the creator of bootstrap, and I also did some
 * modification. Thanks Mark for the beautiful theme,
 * so I reserved the @mdo sign below.
 *****************************************************/




/* Body resets
   -------------------------------------------------- */

html, body {
    margin: 0;
    padding: 0;
}
html {
    font-size: 22px;
    font-family: Menlo, Monaco, monospace;
}
body {
    padding: 2rem 1.5rem;
    line-height: 1.5;
    color: #666;
    background-color: #fff;
    display: block;
}
p {
    margin: 0 0 20px;
}
h1,h2,h3,h4,h5 {
    margin-top: 0;
    margin-bottom: .5rem;
    /* font-size: 18px; */
    font-weight:bold;
    line-height: 1.1;
    color: #111;
    letter-spacing:1.1rem;
}
img {
    display: block;
    margin: 0;
    border-radius: 5px;
}
a {
    font-weight: inherit;
    line-height: inherit;
    color: #222;
    text-decoration: none;
}
*, *::before, *::after {
     box-sizing: border-box;
}
div {
    display: block;
}

/******************************************************/
/* body */
.container {
    max-width: 32rem;
    margin: 0 auto;
}

/* head */
.masthead {
    text-align: right;
    padding-top: 1rem;
    margin-bottom: 0;
    font-size: 1.2rem;
    color: #777;
}
.masthead-title{
    float: left;
}
h2{
    font-size: 1.5rem;
    font-weight:bold;
}
/*Navigation of header*/
.nav{
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.nav li {
    display: inline-block;
}
.masthead::after{
    display: block;
    content: "";
    width: 100px;
    height: 1px;
    margin: 3rem auto;
    background-color: #eee;
}
/* post */
.post {
    position: relative;
}
.post:after {
    display: block;
    content: "----------------------------------------------------------------";
    color: #ccc;
}
.post img {
    max-width: 100%;
}
.post li {
    list-style: none outside none;
}
.post ul > li:before {
    content: "- ";
    margin-left: -1.25em;
    color: #ccc;
}
.post ol {
    counter-reset: o-list;
}
.post ol > li:before {
    content: counter(o-list) ") ";
    counter-increment: o-list;
    margin-left: -1.85em;
    color: #ccc;
}

/* special for li in pre */
.post pre li {
    list-style-type: decimal;
}

.post pre li:before {
    display: none;
}

/* meta info */
.post-info {
    display: inline-block;
    margin: -10px 0 -10px;
    color: #999;
}
.post-info + .post-info:before {
    content: "\2223 \00a0";
}
.post-meta:after {
    content: "----------------------------------------------------------------";
    display: block;
    margin-top: -1px;
    color: #ccc;
}

/* table of content */
#table-of-contents {
    position: fixed;
    right: 0em;
    top: 0em;
    border:1px solid #e1e1e8;
    -webkit-box-shadow: 0 0 1em #777777;
    -moz-box-shadow: 0 0 1em #777777;
    -webkit-border-bottom-left-radius: 5px;
    -moz-border-radius-bottomleft: 5px;
    text-align: right;
    /* ensure doesn't flow off the screen when expanded */
    max-height: 80%;
    overflow: auto;
    z-index: 200;
}



#table-of-contents ul {
    margin-left: 14pt;
    margin-bottom: 10pt;
    padding: 0
}

#table-of-contents li {
    padding: 0;
    margin: 1px;
    list-style: none;
}

#table-of-contents ul>:first-child {
    color: blue;
}

#table-of-contents #text-table-of-contents {
    display: none;
    text-align: left;
}

#table-of-contents:hover #text-table-of-contents {
    display: block;
    padding: 0.5em;
    margin-top: -1.5em;
}

/* footer */
.footer {
    margin: 80px 0 0;
    text-align: center;
    font-size: 15px;
    color: #999;
}
.footer > p {
    margin: 0;
    line-height: 1.5;
}
.footpara {
    display: inline;
}

/* Responsive
   -------------------------------------------------- */

@media (min-width: 768px) {
    /* Increase body padding and font-sizes */
    body {
        padding: 30px;
        font-size: 18px;
        line-height: 1.75;
    }
    h1:before, h2:before, h3:before {
        display: inline;
    }
}

@media (min-width: 1024px) {
    body {
        padding: 30px;
    }
}
